<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro_usuario</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <%- include('../../public/menu.html') %>
    <h1>Cadastro de Usuário</h1>
  
    <% if (erros) { %>
        <ul>
            <% for (let i = 0; i < erros.length; i++) { %>
                <li><%= erros[i].msg %></li>
            <% } %>
        </ul>
   <% } %>

    <form action="/usuario/cadastrar" method="post">
        <label>Nome</label>
        <br>
        <input type="text" name="nome" id="nome" value="<%= usuario.nome%>">
        <br>
        <label>E-mail</label>
        <br>
        <input type="text" name="email" id="email" value="<%= usuario.email%>">
        <br>
        <label>Senha</label>
        <br>
        <input type="text" name="senha" id="senha" value="<%= usuario.senha%>">
        <br><br>
        <input type="hidden"name="id_tipo_usuario"value="1">
        <br>
        <input type="submit" value="Cadastrar">
        <br><br> 
    </form>
</body>
</html>