<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista_usuario</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <%- include('../../public/menuAdmin.html') %>

    <h1>Lista de Usuário </h1>
  
    <table>
        <tr>
            <th>Nome</th> 
            <th>E-mail</th>                 
            <th></th>             
        </tr>
            
        <% for (let i = 0; i < usuario.length; i++) { %>
            <tr>
                <td><%= usuario[i].nome %></td>    
                <td><%= usuario[i].email %></td>                       
               <td>
                <a href="usuario/editar/<%=usuario[i].id %>">Editar</a>
                <a href="usuario/excluir/<%=usuario[i].id %>">Excluir</a>
               </td>
            </tr>
        <% } %>       
    </table>  
   
</body>
</html>